{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source190932283?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1ED044EA64\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source190932283/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1ED0587C03\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1182470389?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1ED0610303\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4afcf6d5-e50e-4892-abce-e305432c9913",
        "X-RequestId": "e82244d2-1003-43f3-bc45-471801e6d48d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002244FB5D8B27369FF4AD84A6998477CA1C836213203E7EB8DADE3D3478F83BD5CF\u0022",
        "Retry-After": "1",
        "X-RequestId": "f4e337fc-70d1-44ae-b267-6d0937291e18"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "4afcf6d5-e50e-4892-abce-e305432c9913",
            "createdDateTimeUtc": "2021-05-18T17:03:09.8243463Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:09.824352Z",
            "status": "NotStarted",
            "summary": {
              "total": 0,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "2b900328-62ff-4687-a845-8a60a3f1ae63",
            "createdDateTimeUtc": "2021-05-18T17:03:07.2518801Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:09.4224761Z",
            "status": "NotStarted",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 1,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "141391480"
  }
}