{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1285505798?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EFDE0935B\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1285505798/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:24 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EFDE79A7F\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:26 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1285505798/File2.jpg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "anBn",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w2u9JYt\u002B5pTrmHIhsrGXsA==",
        "ETag": "\u00220x8D91A1EFDF04EA7\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:26 GMT",
        "x-ms-content-crc64": "NngqzE\u002Bv31M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1445634779?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EFDF61B0E\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f2321e9d-6773-4a0f-98e3-8685dcee6872",
        "X-RequestId": "2c8ddd3b-92ce-45ae-b297-079c57eb6abe"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f2321e9d-6773-4a0f-98e3-8685dcee6872",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EE3AB0E073092809160F5220E9D52B97ED33D7A5DAAF20C5AD1248E71C05D648\u0022",
        "Retry-After": "1",
        "X-RequestId": "ba3b8c64-0558-4f76-aa29-4d9af6bfa512"
      },
      "ResponseBody": {
        "id": "f2321e9d-6773-4a0f-98e3-8685dcee6872",
        "createdDateTimeUtc": "2021-05-18T17:04:26.2386509Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:26.2386543Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/f2321e9d-6773-4a0f-98e3-8685dcee6872/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B43AE94EAC19F2F657034AEB0882A60B8EC35EC012CA32DBA6D79E51BB59884A\u0022",
        "Retry-After": "1",
        "X-RequestId": "556d5d3b-96a2-4506-bceb-6daf5e5c09e5"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1445634779/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1285505798/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:27.6453598Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:34.310895Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a13c-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1712748662"
  }
}