{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1050055073?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1ED0A8A05F\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1050055073/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1ED0AF5E60\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:10 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1050055073/File2.jpg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "anBn",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "w2u9JYt\u002B5pTrmHIhsrGXsA==",
        "ETag": "\u00220x8D91A1ED0B74F16\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:10 GMT",
        "x-ms-content-crc64": "NngqzE\u002Bv31M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target686147349?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:09 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1ED0BC5300\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:10 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3bc0d235-b128-4e6a-83b6-71dfdc757c85",
        "X-RequestId": "cfd22af6-0c74-47ed-8ad3-264d73795b60"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3bc0d235-b128-4e6a-83b6-71dfdc757c85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022332E7DD4352F684BA02D449518A55ED78C4578BE03F5947CAA4C2D3EEA1E2A90\u0022",
        "Retry-After": "1",
        "X-RequestId": "d9ca1ed6-b45b-4d8a-9f07-02bed864eae7"
      },
      "ResponseBody": {
        "id": "3bc0d235-b128-4e6a-83b6-71dfdc757c85",
        "createdDateTimeUtc": "2021-05-18T17:03:10.3667712Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:10.3667765Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3bc0d235-b128-4e6a-83b6-71dfdc757c85/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002243747393B8CE60F885DEBE82F09CA83321D6742E5ACB3B3368672E73FE87DFAA\u0022",
        "Retry-After": "1",
        "X-RequestId": "ffe3853d-bfa0-4a31-848c-3308e9ee7839"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target686147349/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1050055073/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:12.6519615Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:24.1629169Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a132-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1316893579"
  }
}