{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1544135092?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EDA5A8F8E\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1544135092/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EDA656C1D\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:26 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target457328939?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:25 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EDA69D4AA\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4e85f66c-e171-4b28-9ef4-ad5975ed74df",
        "X-RequestId": "7ee6c9db-5e58-45b0-aade-cf3d66fb1f0e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4e85f66c-e171-4b28-9ef4-ad5975ed74df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022C3298A66823E38630DEAC6C973C6AEE89EE86EBCCF1728CE44869A0873011985\u0022",
        "Retry-After": "1",
        "X-RequestId": "865fb7d8-eb1e-4e01-aa9d-6c830757b97d"
      },
      "ResponseBody": {
        "id": "4e85f66c-e171-4b28-9ef4-ad5975ed74df",
        "createdDateTimeUtc": "2021-05-18T17:03:26.6503481Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:26.6503534Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4e85f66c-e171-4b28-9ef4-ad5975ed74df/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222F4435274BE3BE7DF794DC2FB3767AACCD0D39FA585551BEEA930F26B1E736D9\u0022",
        "Retry-After": "1",
        "X-RequestId": "02e6945e-8677-417b-bbc2-1b0138db22d3"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target457328939/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1544135092/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:27.565322Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:30.604705Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a134-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/4e85f66c-e171-4b28-9ef4-ad5975ed74df/documents/0007a134-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022FB75036D26A148C1F00ECE88BE60E784AA93155536ED110E2F978DFD3CF03D54\u0022",
        "Retry-After": "1",
        "X-RequestId": "875d82cc-3fc6-452c-bc61-6089a1869cbd"
      },
      "ResponseBody": {
        "path": "https://mariaridoctrans29prim.blob.core.windows.net/target457328939/Document1.txt",
        "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1544135092/Document1.txt",
        "createdDateTimeUtc": "2021-05-18T17:03:27.565322Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:30.604705Z",
        "status": "Succeeded",
        "to": "fr",
        "progress": 1,
        "id": "0007a134-0000-0000-0000-000000000000",
        "characterCharged": 27
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "823317227"
  }
}