{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1046845678?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F0417FB5B\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1046845678/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1F0420AFC8\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:36 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1089973948?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:35 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F0427406D\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:36 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/97dd054a-db3f-4fae-933b-b3cacd7528c9",
        "X-RequestId": "8f540c25-eb7c-4de8-ab59-44cc1d0418ca"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/97dd054a-db3f-4fae-933b-b3cacd7528c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002240BEC8C4053C6D8B9DAFE5CF542E1979DE8DE2C3DFF57717AD73CF1699E5AEB0\u0022",
        "Retry-After": "1",
        "X-RequestId": "9164e438-43f4-41a8-8b74-aee3ce9e190d"
      },
      "ResponseBody": {
        "id": "97dd054a-db3f-4fae-933b-b3cacd7528c9",
        "createdDateTimeUtc": "2021-05-18T17:04:36.6390065Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:36.6390102Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/97dd054a-db3f-4fae-933b-b3cacd7528c9/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022524FA0E9E8362BDDCD631EC2936467006492AB0CE8042A8AFCAAF58B2FD7E209\u0022",
        "Retry-After": "1",
        "X-RequestId": "a2657f85-c55c-437d-967b-27075351dcd3"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1089973948/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1046845678/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:39.7079796Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:46.2223905Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a13e-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/97dd054a-db3f-4fae-933b-b3cacd7528c9/documents/0007a13e-0000-0000-0000-000000000000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227DBBF73BC99088A410296E5CAD545929A1033462989C1459423510484D34CF21\u0022",
        "Retry-After": "1",
        "X-RequestId": "8c798ad6-28a9-42ed-8a56-ea6ec190526f"
      },
      "ResponseBody": {
        "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1089973948/Document1.txt",
        "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1046845678/Document1.txt",
        "createdDateTimeUtc": "2021-05-18T17:04:39.7079796Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:46.2223905Z",
        "status": "Succeeded",
        "to": "fr",
        "progress": 1,
        "id": "0007a13e-0000-0000-0000-000000000000",
        "characterCharged": 27
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "752832474"
  }
}