{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source502976829?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F0AA8B742\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source502976829/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1F0AB342D2\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:47 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1280104716?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:46 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F0AC9D9DA\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:47 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d7caa4a2-cd6a-4ecf-b688-92bac5bb6af2",
        "X-RequestId": "dd76ebeb-8c27-4687-99af-555d81a4248e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d7caa4a2-cd6a-4ecf-b688-92bac5bb6af2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227E6EF3B0C9C205FCF4B0781545D760573181AB5EB6DE24B7E35643AF8BE7D58B\u0022",
        "Retry-After": "1",
        "X-RequestId": "35acdbcb-5925-41ad-8f1d-60ed84cadc81"
      },
      "ResponseBody": {
        "id": "d7caa4a2-cd6a-4ecf-b688-92bac5bb6af2",
        "createdDateTimeUtc": "2021-05-18T17:04:47.7973823Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:47.797386Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d7caa4a2-cd6a-4ecf-b688-92bac5bb6af2/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022D14D74D6026F78176DA11C7A95C84126BEFFAF708BDA57D3C72F3069FB45344C\u0022",
        "Retry-After": "1",
        "X-RequestId": "bb157e36-0768-4265-8614-00b2d80a6198"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1605668354/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source230603138/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:52.656616Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:59.4306649Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0007a140-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1280104716/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source502976829/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:52.6527548Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:59.4219375Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a13f-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "832850093"
  }
}