{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source491021041?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EDDC583A0\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source491021041/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EDDCFEA6A\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:32 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1664461226?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:31 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EDDE0D8D2\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:32 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          },
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "es"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cabba550-35bb-403c-bd68-5d813c2e2d8b",
        "X-RequestId": "5f554b6e-2bd0-4e66-b9e0-d6f725492837"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cabba550-35bb-403c-bd68-5d813c2e2d8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022F4C7FE532161CFE157F591CA6CB7279015E31489BC84C018668521882BEDD94B\u0022",
        "Retry-After": "1",
        "X-RequestId": "6beeb370-382b-4882-b3af-3de04602e6ee"
      },
      "ResponseBody": {
        "id": "cabba550-35bb-403c-bd68-5d813c2e2d8b",
        "createdDateTimeUtc": "2021-05-18T17:03:32.4417835Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:32.4417874Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/cabba550-35bb-403c-bd68-5d813c2e2d8b/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EA3C2BFCA7C5BEE3682DA491BEE6B977A683CF5A29ECB36E761CE2BC3F636923\u0022",
        "Retry-After": "1",
        "X-RequestId": "f83a1304-2263-4946-9bb3-d9295b4e16ca"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target368653465/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source294628694/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:34.6439092Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:43.752793Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "0007a136-0000-0000-0000-000000000000",
            "characterCharged": 27
          },
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target1664461226/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source491021041/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:34.6374236Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:36.6612231Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a135-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "2083356608"
  }
}