{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1101875729?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F11E62689\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1101875729/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1F11EEDC66\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:59 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target985315500?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F11F40BC3\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/229727c6-c0f0-49d8-9eae-c542b97b1126",
        "X-RequestId": "b71f9dab-15d0-4930-97f7-61b5a09f75ca"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/229727c6-c0f0-49d8-9eae-c542b97b1126",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ACAFAF5D481D40295BA2064874420BD3DCC38A13F17D8DBFB7E989D494D7C0D9\u0022",
        "Retry-After": "1",
        "X-RequestId": "e03e4c6a-1906-4d4e-b275-000a4403ca10"
      },
      "ResponseBody": {
        "id": "229727c6-c0f0-49d8-9eae-c542b97b1126",
        "createdDateTimeUtc": "2021-05-18T17:04:59.7894086Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:59.7894122Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/229727c6-c0f0-49d8-9eae-c542b97b1126/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225871204C66D26E2F374AEFF7AC4D326B5D2985D178B5D15400378F2D96DDF8D3\u0022",
        "Retry-After": "1",
        "X-RequestId": "a6cff775-7fc0-47d0-9397-4e6a082c9995"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target985315500/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1101875729/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:05:04.7331541Z",
            "lastActionDateTimeUtc": "2021-05-18T17:05:06.3881174Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a141-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/229727c6-c0f0-49d8-9eae-c542b97b1126/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225871204C66D26E2F374AEFF7AC4D326B5D2985D178B5D15400378F2D96DDF8D3\u0022",
        "Retry-After": "1",
        "X-RequestId": "c0df9bfa-cae4-4ec8-a08c-b3d8a9571a60"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target985315500/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1101875729/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:05:04.7331541Z",
            "lastActionDateTimeUtc": "2021-05-18T17:05:06.3881174Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a141-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "329779651"
  }
}