{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1763307356?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EF6DFC2DB\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1763307356/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EF6E98A98\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:14 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source1763307356/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "U2Vjb25kIGVuZ2xpc2ggdGVzdCBmaWxl",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gMtl0NvS8s51WsOvVJ1plg==",
        "ETag": "\u00220x8D91A1EF6F105FA\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:14 GMT",
        "x-ms-content-crc64": "aaA26IeTPCo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target609960575?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EF6F65C3E\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized",
              "filter": {
                "suffix": "1.txt"
              }
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0de2f72b-cd84-4101-9928-e7857c0fbd53",
        "X-RequestId": "8dbfd178-7ddd-45ac-8f41-6268b9594099"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0de2f72b-cd84-4101-9928-e7857c0fbd53",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ED49E4994AC9BF900F976F302FF96F5CCA774AF9523ED4327525729387024EAC\u0022",
        "Retry-After": "1",
        "X-RequestId": "63ad63f4-5ef9-422a-afcb-c5e7b3291cfc"
      },
      "ResponseBody": {
        "id": "0de2f72b-cd84-4101-9928-e7857c0fbd53",
        "createdDateTimeUtc": "2021-05-18T17:04:14.5028182Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:14.5028235Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/0de2f72b-cd84-4101-9928-e7857c0fbd53/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002288FBAAAFC0428F17129AE5F9634C60388508ACADE4005E212264D8E27F2BE994\u0022",
        "Retry-After": "1",
        "X-RequestId": "cef36512-e557-4273-bece-9ce33834bf20"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target609960575/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source1763307356/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:17.50123Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:21.1072919Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a13a-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "293128807"
  }
}