{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source494044895?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:05:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F1A95E01D\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source494044895/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:05:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1F1A9F32DA\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:14 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source494044895/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:05:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "U2Vjb25kIGVuZ2xpc2ggdGVzdCBmaWxl",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gMtl0NvS8s51WsOvVJ1plg==",
        "ETag": "\u00220x8D91A1F1AA6D559\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:14 GMT",
        "x-ms-content-crc64": "aaA26IeTPCo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target2098335544?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:05:13 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F1AABDCEA\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:14 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized",
              "filter": {
                "prefix": "File"
              }
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1e9336c2-08f0-4d67-8927-d4ae7b2aa81b",
        "X-RequestId": "92972ccf-b456-4455-8599-eedad3f46e09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1e9336c2-08f0-4d67-8927-d4ae7b2aa81b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228880BF8DEB90EB07DAEA25A9D550EFBBE3656153A8E3E0F12A866A612558FB30\u0022",
        "Retry-After": "1",
        "X-RequestId": "58badc08-ed7c-4c04-ab72-2ed4b71912b6"
      },
      "ResponseBody": {
        "id": "1e9336c2-08f0-4d67-8927-d4ae7b2aa81b",
        "createdDateTimeUtc": "2021-05-18T17:05:14.4137152Z",
        "lastActionDateTimeUtc": "2021-05-18T17:05:14.4137192Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1e9336c2-08f0-4d67-8927-d4ae7b2aa81b/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221D93EACD3B125E9B916FFEE6D38FBAA7E306D276D702EA0F600A49E2DFFC107F\u0022",
        "Retry-After": "1",
        "X-RequestId": "a08091db-6c4d-49e8-a609-a092475fba8f"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target2098335544/File2.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source494044895/File2.txt",
            "createdDateTimeUtc": "2021-05-18T17:05:14.8197776Z",
            "lastActionDateTimeUtc": "2021-05-18T17:05:16.4999638Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a143-0000-0000-0000-000000000000",
            "characterCharged": 24
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "149885481"
  }
}