{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source2009192753?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EE55D0A2F\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:44 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source2009192753/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EE56ACC11\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:44 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target990994529?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:43 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EE5752A8D\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:45 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc89be6e-1cfa-4b4c-9ed1-ecb061ef2c65",
        "X-RequestId": "04a9578e-83d8-42b0-bbe0-9546271e52ed"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc89be6e-1cfa-4b4c-9ed1-ecb061ef2c65",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222C71A63390D372A3B2477C95CFBE9F6C9FAF62F1576670EFB126F5D44B747139\u0022",
        "Retry-After": "1",
        "X-RequestId": "2de735fb-e548-4cbd-ae3f-00d76bc9d528"
      },
      "ResponseBody": {
        "id": "dc89be6e-1cfa-4b4c-9ed1-ecb061ef2c65",
        "createdDateTimeUtc": "2021-05-18T17:03:45.215021Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:45.2150246Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc89be6e-1cfa-4b4c-9ed1-ecb061ef2c65/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022294306951B9C96A5EA7154618374F1AFD7677652722E55FB8F735EC9BF9017F1\u0022",
        "Retry-After": "1",
        "X-RequestId": "5971cc71-dfae-4826-bab8-d08e01b36b04"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target990994529/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source2009192753/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:48.584885Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:59.008544Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a137-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/dc89be6e-1cfa-4b4c-9ed1-ecb061ef2c65/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022294306951B9C96A5EA7154618374F1AFD7677652722E55FB8F735EC9BF9017F1\u0022",
        "Retry-After": "1",
        "X-RequestId": "d5db9604-c057-405a-a9b2-047f59154303"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target990994529/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source2009192753/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:03:48.584885Z",
            "lastActionDateTimeUtc": "2021-05-18T17:03:59.008544Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a137-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1498320154"
  }
}