{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source116730356?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EEE194911\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source116730356/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:03:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1EEE2842B0\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:59 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target22642768?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:03:58 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EEE2E5B8D\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:03:59 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3834bb47-c37d-4d02-ad47-4e75bdb47f87",
        "X-RequestId": "ef375cfe-9952-4421-8d2a-63a47f1fd7c0"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3834bb47-c37d-4d02-ad47-4e75bdb47f87",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022A67153CE0B73677DE6EEC3523789886FEDE7DA5FFE254B83925F2B24127E6F0E\u0022",
        "Retry-After": "1",
        "X-RequestId": "754f7451-77a7-4fc8-910d-5e936436afde"
      },
      "ResponseBody": {
        "id": "3834bb47-c37d-4d02-ad47-4e75bdb47f87",
        "createdDateTimeUtc": "2021-05-18T17:03:59.7602966Z",
        "lastActionDateTimeUtc": "2021-05-18T17:03:59.7602999Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/3834bb47-c37d-4d02-ad47-4e75bdb47f87/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002283167BB2E801CE4DC713586DACF69A1C169A469C509FBD7997343CBAEB16FEA1\u0022",
        "Retry-After": "1",
        "X-RequestId": "b148e794-5767-4b17-b650-538df3eed37c"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target22642768/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source116730356/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:03.4003521Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:09.2687832Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a138-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1550310267"
  }
}