{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source845945120?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F1C1CA03F\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source845945120/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D91A1F1C264115\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:16 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source845945120/File2.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "U2Vjb25kIGVuZ2xpc2ggdGVzdCBmaWxl",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "gMtl0NvS8s51WsOvVJ1plg==",
        "ETag": "\u00220x8D91A1F1C2FB8AE\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:16 GMT",
        "x-ms-content-crc64": "aaA26IeTPCo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target482091875?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:05:15 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1F1C36477C\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:05:16 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized",
              "filter": {
                "suffix": "1.txt"
              }
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1d607ede-d0b5-41c7-84e1-7b3d743e2a48",
        "X-RequestId": "54b1670f-e0c7-473d-9a95-ab4f3a47416e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1d607ede-d0b5-41c7-84e1-7b3d743e2a48",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224D98317389FAF7146208E030812F113875CEACC2DC7C42E2B74B76231A0E38FF\u0022",
        "Retry-After": "1",
        "X-RequestId": "d512081b-a4e6-43d3-a727-019a4835c003"
      },
      "ResponseBody": {
        "id": "1d607ede-d0b5-41c7-84e1-7b3d743e2a48",
        "createdDateTimeUtc": "2021-05-18T17:05:17.0026411Z",
        "lastActionDateTimeUtc": "2021-05-18T17:05:17.0026443Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/1d607ede-d0b5-41c7-84e1-7b3d743e2a48/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233BFA06A2DD9046A630F3F392BD2E8D847B96D4775EF7D7DBD2C58F9EE197FA5\u0022",
        "Retry-After": "1",
        "X-RequestId": "1008ed4c-ed27-421c-9fe8-c08dfe3a7562"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://mariaridoctrans29prim.blob.core.windows.net/target482091875/Document1.txt",
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source845945120/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:05:17.7870267Z",
            "lastActionDateTimeUtc": "2021-05-18T17:05:19.5167863Z",
            "status": "Succeeded",
            "to": "fr",
            "progress": 1,
            "id": "0007a144-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "1124102073"
  }
}