{
  "Entries": [
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source902477909?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EFB19C564\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/source902477909/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 18 May 2021 17:04:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": [],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8D91A1EFB1D980F\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:21 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29prim.blob.core.windows.net/target1941062882?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 18 May 2021 17:04:20 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D91A1EFB22EECF\u0022",
        "Last-Modified": "Tue, 18 May 2021 17:04:21 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9ff2564e-f58e-4941-a6b2-74b014676e8c",
        "X-RequestId": "04cec025-7333-4c9a-8ebc-5b4f5f917f50"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9ff2564e-f58e-4941-a6b2-74b014676e8c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223F2BDD8FCEA8FEE9657BB8A76508BA69B72201548F87DBD54DD96586EE6C2138\u0022",
        "Retry-After": "1",
        "X-RequestId": "9f75cb44-8b22-4a98-add7-e8525e6c4298"
      },
      "ResponseBody": {
        "id": "9ff2564e-f58e-4941-a6b2-74b014676e8c",
        "createdDateTimeUtc": "2021-05-18T17:04:21.4974969Z",
        "lastActionDateTimeUtc": "2021-05-18T17:04:21.497502Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/9ff2564e-f58e-4941-a6b2-74b014676e8c/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022B3ACCEADC89DFA19C0E4BBCD6A84ED96383EADEC5BE3001F6B11BF937019D670\u0022",
        "Retry-After": "1",
        "X-RequestId": "c3efb8e5-66c8-4d5a-918e-89dc4b4ff83a"
      },
      "ResponseBody": {
        "value": [
          {
            "sourcePath": "https://mariaridoctrans29prim.blob.core.windows.net/source902477909/Document1.txt",
            "createdDateTimeUtc": "2021-05-18T17:04:24.5520469Z",
            "lastActionDateTimeUtc": "2021-05-18T17:04:24.8035546Z",
            "status": "Failed",
            "to": "fr",
            "error": {
              "code": "InvalidRequest",
              "message": "Document has wrong encoding or is binary file.",
              "target": "Document",
              "innerError": {
                "code": "WrongDocumentEncoding",
                "message": "Document has wrong encoding or is binary file."
              }
            },
            "progress": 0,
            "id": "0007a13b-0000-0000-0000-000000000000",
            "characterCharged": 0
          }
        ]
      }
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=mariaridoctrans29prim;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://mariaridoctrans29-doctranslation.cognitiveservices.azure.com",
    "RandomSeed": "827420902"
  }
}